@CHARSET "EUC-KR";

  .modal-header, .close {
      background-color: #333;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
  }

  .nav-tabs li a {
      color: #777;
  }
  
  .navbar1 {
      margin-bottom: 0;
      border: 0;
      font-size: 15px;
      letter-spacing: 3px;
      opacity: 0.9;
      heigth : 20px;
  }
  
  .navbar2 {
      margin-bottom: 0;
      border: 0;
      font-size: 13px;
      letter-spacing: 3px;
      opacity: 0.9;
      heigth : 20px;
  }
  
  #myNavbar1{
  	 margin-bottom: -34px;
  }
  
  #myNavbar2{
  	 margin-top: -34px;
  }

  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  
   .logo_top{
    width: 100px;
    height: 60px;
    margin-top: -5.5px;
    margin-left: -10px;
  }
